<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Pro-Awards</a>
    </div>

    <!-- Adding a search form  -->
    <!-- search form end -->

    <!--The search form above-->
      {% if user.is_authenticated %}
      <ul>
        <li style="display: inline-block; margin-left: 30px;">
          <a href="/">Home</a>
        </li>
        <li style="display: inline-block; margin-left: 30px;">
          <a href="{%url 'new-project'%}">Create a new Project</a>
        </li>
        <li style="display: inline-block; margin-left: 30px;">
          <form class="navbar-form" role="search" action="{% url 'search_projects' %}">
      
              <div class="input-group">
                <input type="text" style="font-family: 'Dosis', sans-serif;" class="form-control mr-sm-4" placeholder="Search Project" name="project">
                <div class="input-group-btn">
                  <button class="btn btn-outline-primary my-2 my-sm-0" style="font-family: 'Dosis', sans-serif;" type="submit">Find</button>
                </div>
              </div>
      
      
            </form>
        </li>

        <li style="display: inline-block; margin-left: 30px;" class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}}
                    <span class="caret"></span>
                </a>
                
          <ul class="dropdown-menu" role="menu">

            <li>
              <a href="{% url 'profile' %}">My Account</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                    <span class="caret"></span>
                </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="">Home</a>
            </li>
    
            <li>
              <a href="{%url 'login' %}">Sign-In</a>
            </li>
            <li>
              <a href="{%url 'registration' %}">Sign-Up</a>
            </li>

          </ul>
        </li>
      </ul>


      {% endif %}

  

  </div>
</nav>
